AgendaBot - Sistema Completo.json
{
  "name": "AgendaBot - Sistema Completo",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "40eddecf-1fcb-466a-b4b9-a191e6e23d2c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -16
      ],
      "webhookId": "webhook-telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "AGZLxAohu5hPcXST",
          "name": "Telegram Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer información del mensaje de Telegram\nconst message = $input.item.json.message;\nconst telegramUser = message.from.id.toString();\nconst userName = message.from.first_name || 'Usuario';\nconst userInput = (message.text || '').trim();\nconst chatId = message.chat.id;\n\n// Registrar timestamp\nconst timestamp = new Date().toISOString();\n\nreturn {\n  telegram_user: telegramUser,\n  user_name: userName,\n  user_input: userInput,\n  chat_id: chatId,\n  timestamp: timestamp\n};"
      },
      "id": "06622393-60f7-4736-ac56-45a502d93bc7",
      "name": "Extraer Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "=https://docs.google.com/spreadsheets/d/1BYDjI0JpYwxsRnA3DmileUc8Q2qjuzZoDfFoL2GaZEQ/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b0f08247-64b7-449a-941a-c5f48baadf34",
      "name": "Obtener Sesión",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1504,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G3DQi64AsP2s4cAL",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Buscar sesión del usuario actual\nconst telegramUser = $input.first().json.telegram_user;\nconst allItems = $input.all();\n\nlet currentSession = null;\n\nfor (let item of allItems) {\n  const data = item.json;\n  if (data.telegram_user === telegramUser) {\n    currentSession = {\n      telegram_user: data.telegram_user || telegramUser,\n      pantalla_actual: data.pantalla_actual || 'menu_principal',\n      paso_actual: data.paso_actual || '0',\n      datos_parciales: data.datos_parciales || '{}',\n      timestamp_ultima_interaccion: data.timestamp_ultima_interaccion || ''\n    };\n    break;\n  }\n}\n\n// Si no hay sesión, crear una nueva\nif (!currentSession) {\n  currentSession = {\n    telegram_user: telegramUser,\n    pantalla_actual: 'menu_principal',\n    paso_actual: '0',\n    datos_parciales: '{}',\n    timestamp_ultima_interaccion: new Date().toISOString()\n  };\n}\n\nconst firstItem = $input.first().json;\n\nreturn {\n  ...firstItem,\n  session: currentSession\n};"
      },
      "id": "408f98eb-eabd-4006-a7f4-ffd3ab3e50f7",
      "name": "Procesar Sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1BYDjI0JpYwxsRnA3DmileUc8Q2qjuzZoDfFoL2GaZEQ/edit?gid=0#gid=0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "USUARIOS",
          "mode": "name"
        },
        "options": {}
      },
      "id": "816dadd4-7355-455f-8f22-caf4b63811c6",
      "name": "Verificar Permisos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1104,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G3DQi64AsP2s4cAL",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar si el usuario tiene permisos\nconst telegramUser = $input.first().json.telegram_user;\nconst allItems = $input.all();\n\nlet isAllowed = false;\nlet userRole = 'usuario';\nlet userName = $input.first().json.user_name;\n\nfor (let item of allItems) {\n  const data = item.json;\n  if (data.telegram_user === telegramUser) {\n    userName = data.nombre || userName;\n    userRole = data.rol || 'usuario';\n    isAllowed = data.permitido === 'SI' || data.permitido === true;\n    break;\n  }\n}\n\n// Si no está registrado, permitir acceso básico\nif (!isAllowed) {\n  isAllowed = true; // Permitir acceso por defecto\n  userRole = 'usuario';\n}\n\nconst firstItem = $input.first().json;\n\nreturn {\n  ...firstItem,\n  is_allowed: isAllowed,\n  user_role: userRole,\n  user_name: userName\n};"
      },
      "id": "ff855245-8994-41e1-b68a-359f03e9008c",
      "name": "Validar Permiso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_allowed }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "0cf1e9a4-86c3-40ff-994f-3ae4ac9b1fb9",
      "name": "¿Tiene Acceso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        -16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Lo siento, no tienes permisos para usar este bot. Por favor contacta al administrador.",
        "additionalFields": {}
      },
      "id": "1b567394-2e26-4976-8e94-53e09f8f1e02",
      "name": "Enviar Sin Permiso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        144
      ],
      "webhookId": "849a7655-ca93-4ba2-9f01-d6f2846a218c",
      "credentials": {
        "telegramApi": {
          "id": "AGZLxAohu5hPcXST",
          "name": "Telegram Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Router principal - determina a qué menú ir\nconst userInput = $input.item.json.user_input.toLowerCase();\nconst session = $input.item.json.session;\nconst pantallaActual = session.pantalla_actual;\nconst pasoActual = parseInt(session.paso_actual) || 0;\n\nlet routeTo = 'menu_principal';\nlet newPaso = 0;\n\n// Comandos globales\nif (userInput === '/start' || userInput === 'start') {\n  routeTo = 'bienvenida';\n} else if (userInput === '9' && pasoActual > 0) {\n  routeTo = 'cancelar_flujo';\n} else {\n  // Routing basado en pantalla actual\n  switch (pantallaActual) {\n    case 'menu_principal':\n      const menuOptions = {\n        '0': 'ayuda',\n        '1': 'menu_agenda',\n        '2': 'menu_tareas',\n        '3': 'menu_recordatorios',\n        '4': 'menu_habitos',\n        '5': 'menu_listas',\n        '6': 'menu_reportes',\n        '7': 'menu_configuracion',\n        '8': 'menu_admin'\n      };\n      routeTo = menuOptions[userInput] || 'opcion_invalida';\n      break;\n    \n    case 'menu_agenda':\n      const agendaOptions = {\n        '1': 'agendar_cita_paso1',\n        '2': 'consultar_agenda',\n        '3': 'reprogramar_cita',\n        '4': 'cancelar_cita',\n        '5': 'completar_cita',\n        '9': 'menu_principal'\n      };\n      routeTo = agendaOptions[userInput] || 'opcion_invalida';\n      if (routeTo === 'agendar_cita_paso1') newPaso = 1;\n      break;\n    \n    case 'agendar_cita_paso1':\n      routeTo = 'agendar_cita_paso2';\n      newPaso = 2;\n      break;\n    \n    case 'agendar_cita_paso2':\n      routeTo = 'agendar_cita_paso3';\n      newPaso = 3;\n      break;\n    \n    case 'agendar_cita_paso3':\n      routeTo = 'agendar_cita_paso4';\n      newPaso = 4;\n      break;\n    \n    case 'agendar_cita_paso4':\n      routeTo = 'agendar_cita_paso5';\n      newPaso = 5;\n      break;\n    \n    case 'agendar_cita_paso5':\n      routeTo = 'agendar_cita_paso6';\n      newPaso = 6;\n      break;\n    \n    case 'agendar_cita_paso6':\n      const confirmOptions = {\n        '1': 'guardar_cita',\n        '2': 'editar_cita',\n        '3': 'cancelar_flujo'\n      };\n      routeTo = confirmOptions[userInput] || 'opcion_invalida';\n      newPaso = 0;\n      break;\n    \n    default:\n      routeTo = 'menu_principal';\n  }\n}\n\nreturn {\n  ...$input.item.json,\n  route_to: routeTo,\n  new_paso: newPaso\n};"
      },
      "id": "4f47504c-6354-4b88-a65b-9720a5e56f28",
      "name": "Router Principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -16
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "bienvenida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db7c049b-0524-4959-bead-a3b4c26ce547"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bienvenida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "menu_principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ad9d7d2-03b0-472d-8942-a15305f8ef71"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_principal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "menu_agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e14ad301-3b03-41e1-a4a0-dc66e27a2bc3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48095075-05cd-413c-b89d-f4fcd4d52d28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "581ffa13-7d68-49c6-8d34-a2b8c7f532b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6c094ab-07b9-4492-aa4e-151086d84a48"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f3201a4-c1b0-402d-a3b5-6c22294c749e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b528b77e-f288-40d1-b345-22697a265d86"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "agendar_cita_paso6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cf4a83ca-f254-4a1e-891a-bb064cd56412"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_paso6"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "guardar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c9927c7d-b3a9-4068-bec6-544931e89e39"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guardar_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "opcion_invalida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9164b4f-182c-4ab1-9b69-6e768124f88e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_invalida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_to }}",
                    "rightValue": "ayuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4ed9dc1-aa7c-4c75-99ed-6de3de904522"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ayuda"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ad6e45ae-4666-4d4b-939f-2642ab1db397",
      "name": "Switch Rutas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -304,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const userName = $input.item.json.user_name;\n\nconst mensaje = `Hola ${userName}, soy AgendaBot 👋\n\nEstoy aquí para ayudarte a organizar tus citas, tareas y recordatorios de forma sencilla y sin complicaciones.\n\nPuedes escribirme en cualquier momento.\nPara avanzar, solo tienes que escribir el número de la opción que quieras usar.\n\n📋 Menú principal:\n0. Ayuda\n1. Agenda (citas)\n2. Tareas\n3. Recordatorios\n4. Hábitos\n5. Listas\n6. Reportes\n7. Configuración\n8. Administrador\n\n💡 Tip rápido: escribe solo el número (por ejemplo: 1) y presiona enviar.`;\n\nreturn {\n  ...$input.item.json,\n  mensaje_respuesta: mensaje,\n  nueva_pantalla: 'menu_principal',\n  nuevo_paso: 0\n};"
      },
      "id": "627e7567-a833-4b42-9401-2cdf6826cfc5",
      "name": "Mensaje Bienvenida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const mensaje = `¿En qué te puedo ayudar hoy?\n\n📋 Menú principal:\n0. Ayuda\n1. Agenda (citas)\n2. Tareas\n3. Recordatorios\n4. Hábitos\n5. Listas\n6. Reportes\n7. Configuración\n8. Administrador\n\n💡 Sugerencia:\nSi quieres empezar rápido, te recomiendo la opción 1 (Agenda).`;\n\nreturn {\n  ...$input.item.json,\n  mensaje_respuesta: mensaje,\n  nueva_pantalla: 'menu_principal',\n  nuevo_paso: 0\n};"
      },
      "id": "1b9203c3-7311-45e5-9ebb-94af3098344b",
      "name": "Mensaje Menu Principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const mensaje = `Perfecto, vamos con tu agenda.\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al menú principal`;\n\nreturn {\n  ...$input.item.json,\n  mensaje_respuesta: mensaje,\n  nueva_pantalla: 'menu_agenda',\n  nuevo_paso: 0\n};"
      },
      "id": "5eb0fd46-b1c4-40f2-baf9-3128caee7a4b",
      "name": "Mensaje Menu Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const mensaje = `Empecemos a crear tu cita.\n\n📅 Paso 1 de 6\n¿Cuál es la fecha de la cita?\n\nFormato: YYYY-MM-DD\nEjemplo: 2025-12-20\n\n9. Cancelar`;\n\nreturn {\n  ...$input.item.json,\n  mensaje_respuesta: mensaje,\n  nueva_pantalla: 'agendar_cita_paso1',\n  nuevo_paso: 1\n};"
      },
      "id": "2b1df695-d992-48d4-9b59-56b2459c9091",
      "name": "Agendar Paso 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje_respuesta }}",
        "additionalFields": {}
      },
      "id": "d8acee75-8521-4741-afe4-31e228ca2a2a",
      "name": "Enviar Respuesta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -16
      ],
      "webhookId": "8ff9efe5-9c2d-4b09-8ef5-07de39d42d0c",
      "credentials": {
        "telegramApi": {
          "id": "AGZLxAohu5hPcXST",
          "name": "Telegram Bot Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extraer Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Usuario": {
      "main": [
        [
          {
            "node": "Obtener Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesión": {
      "main": [
        [
          {
            "node": "Procesar Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Sesión": {
      "main": [
        [
          {
            "node": "Verificar Permisos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Permisos": {
      "main": [
        [
          {
            "node": "Validar Permiso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Permiso": {
      "main": [
        [
          {
            "node": "¿Tiene Acceso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Acceso?": {
      "main": [
        [
          {
            "node": "Router Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Sin Permiso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Principal": {
      "main": [
        [
          {
            "node": "Switch Rutas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Rutas": {
      "main": [
        [
          {
            "node": "Mensaje Bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Menu Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Paso 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Bienvenida": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Menu Principal": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Menu Agenda": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Paso 1": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "265dfcf7-df3d-45ab-b7e3-6c8a7345a98d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0d6ed15b55117dd5ddf925b270882653256e8a4b466d5ace57722e6692178ca"
  },
  "id": "ymGu5T5JRwikeLLzrRzvl",
  "tags": []
}